
    <body>
        <div class="loginbox">
            <img src="stj.png" alt="" class="avatar">
            <h1>
                Login Here
            </h1>
            <form action="">
                <p>Username</p>
                <input type="text" name="" id="" placeholder="Enter username">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" id="" value="Login">
                <a href="#">Lost your password</a><br>
                <a href="#">Dont have an accont?</a>
            </form>
        </div>

    </body>
